<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JSONPath</title>
    <style>

    </style>
</head>
<body>
    <form action="#" th:action="@{/}" method="post" th:object="${userInput}">
        <div>
            <input type="text" th:field="*{jsonPath}" alt="Insert JSONPath Expression" />
            <input type="submit" name="Do it!">
        </div>
        <div>
            <textarea rows="40" cols="50" th:field="*{inputJson}"></textarea>
            <textarea rows="40" cols="50" th:field="*{outputJson}"></textarea>
        </div>

    </form>
</body>
</html>